<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- 点击按钮改变登录方式 ，实质改版v-if=''中值的真假  key标记input 如果key值一样 那么浏览器不会再进行渲染input，在切换后值还是保留的，要是使得不保留的话 加入不同的key值-->
    <div id="app">
        <sapn v-if='user'>
            <label for="userId">账号登录</label>
            <input type="text" id="userId" placeholder="账号登录" key="userId">
            <!-- <button @click='user=!user'>切换登录</button> -->
        </sapn>
        <sapn v-else>
            <label for="emailId">邮箱登录</label>
            <input type="text" id="emailId" placeholder="邮箱登录" key="eamilId">
            <!-- <button @click='user=!user'>切换登录</button> -->
        </sapn>
        <button @click='user=!user'>切换登录</button>
        <script src="../vue/vue.js"></script>
        <script>
            const app = new Vue({
                el:'#app',
                data:{
                    user:true,
                }
            })
        </script>
    </div>
</body>
</html>