table,th,tr,td{
    text-align: center;
    border: 1px solid #ef6700;
    border-collapse: collapse;
    
}
caption{
    width: 500px;
    font-size: 30px;
}
#goods{
    width: 500px;
    border-collapse: collapse;
    margin: 0 auto;
}
#shopcar{
    width: 500px;
    border-collapse: collapse;
    margin: 0 auto;
}
.nogoods{
   width: 500px;
   text-align: center;
   margin: 0 auto;
   
}
